* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  background: #f0f0f0;
  color: #e5e7eb;
}

nav {
  position: sticky;
  background-color: #fff;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 93%;
  margin: 20px auto;
  margin-top: 0;
  margin-bottom: 0;
}

.company-logo {
  height: 90px;
  width: 150px;
  object-fit: contain;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
}

ul a {
  text-decoration: none;
  margin-right: 12px;
  color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

ul a:hover {
  background-color: #e6e5e5;
}

ul a i {
  margin-right: 10px;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* HEADER */
.shop-header {
  /* background: linear-gradient(135deg, #d9ebff, #22c55e); */
  background: white;
  padding: 40px 20px;
  max-width: 93%;
  margin-top: 0;
  margin: auto;
}

.shop-header img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
  align-items: center;
}
.shop-logo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}

.shop-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.shop-info h1 {
  font-size: 30px;
  color: #333;
  margin-left: 30px;
}
.shop-info p {
  font-size: 14px;
  margin-top: 6px;
  color: #333;
  margin-left: 30px;
}
.rating-badge {
  display: inline-block;
  color: #475569;
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: 8px;
  font-weight: 600;
  margin-left: 30px;
}

/* ACTIONS */
.actions {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 30px;
}
.actions button {
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.call {
  background: #22c55e;
  color: #fff;
}
.whatsapp {
  background: black;
  color: #fff;
  border: 1px solid #22c55e;
}

.whatsapp i {
  color: #22c55e;
}
.join {
  background: white;
  color: #020617;
}

/* LAYOUT */
.container {
  max-width: 93%;
  background-color: #fff;
  margin: 40px auto;
  padding: 0 50px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.section {
  background: #fff;
  padding: 25px;
  margin-bottom: 25px;
  max-width: 100%;
}
.section h2 {
  margin-bottom: 14px;
  color: #333;
}

.section p {
  color: #475569;
  line-height: 1.6;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.gallery div {
  height: 250px;
  width: 200px;
  background: #e4e2e2;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
  font-size: 12px;
}

/* ADDRESS UPDATE */
.address-box textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #f3f3f3;
  border: 1px solid #334155;
  color: #333;
  margin-bottom: 10px;
}
.address-box button {
  background: #000;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

/* REVIEWS */
.review {
  border-bottom: 1px solid #1e293b;
  padding: 10px 0;
}
.review:last-child {
  border: none;
}
.review strong {
  color: #22c55e;
}
.stars {
  color: #facc15;
}

/* REVIEW FORM */
.review-form input,
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #f3f3f3;
  border: 1px solid #334155;
  color: #333;
}
.review-form button {
  width: 50%;
  margin: 10px auto;
  background: #333;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.back-btn i{
  margin-right: 8px;
}

.back-btn {
  display: block;
  width: 200px;
  margin: 30px auto 0;
  padding: 12px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* MAP */
.map iframe {
  width: 100%;
  height: 250px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

/* FOOTER */
.main-footer {
  background: #020617;
  border-top: 1px solid #1e293b;
  margin-top: 60px;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.footer-box h3 {
  color: #fff;
  margin-bottom: 12px;
}
.footer-box h4 {
  margin-bottom: 12px;
  font-size: 16px;
}
.footer-box p,
.footer-box a {
  font-size: 14px;
  color: #94a3b8;
  text-decoration: none;
}
.footer-box ul {
  list-style: none;
}
.footer-box ul li {
  margin-bottom: 8px;
}
.footer-box a:hover {
  color: orange;
  background-color: none;
}
.social-icons {
  display: flex;
  gap: 12px;
}
.social-icons a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  border-radius: 10px;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #1e293b;
  padding: 18px;
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .header-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .actions {
    justify-content: center;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
