*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e2e2;
}

nav{
    position: sticky;
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 15px;
}

nav ul{
    display: flex;
    list-style: none;
}

ul a{
    text-decoration: none;
    margin-right: 12px;
    color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
}

.menu-toggle{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

ul a:hover{
    background-color: #e6e5e5;
}

.main-container{
    width: 93%;
}

.intro{
    height: 400px;
    background: #e0f8ff;
    background-size: 400% 400%;
    animation: bgMove 10s infinite ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    color: #1e1e1e;
    opacity: 0.6;
}

.upper-section{
    margin-top: 5px;
    background-color: #fff;
}

.mid-section{
    background-color: #fff;
}

.content{
    position: relative;
    text-align: center;
    color: #000;
}

.title{
    font-size: 3.5em;
    letter-spacing: 2px;
    animation: glow 2s infinite alternate;
}
.subtitle{
    margin: 15px 0 30px;
    font-size: 1.2em;
    opacity: 0.9;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.btn{
    margin-top: 10px;
    padding: 10px 30px;
    text-decoration: none;
    color: #1e1e1e;
    border-radius: 8px;
    font-size: 1em;
    transition: 0.4s;
    border: 2px solid transparent;
}

.login{
    cursor: pointer;
    background: transparent;
    border-color: #1e1e1e;
    transition: all 0.3s ease;
}

.signup{
    cursor: pointer;
    background: #017cff;
    color: #fff;
    transition: all 0.3s ease;
}

.signup:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 5px #1e1e1e;
}

.login:hover{
    transform: translateY(-2px);
    background-color: #fff;
    color: #00c6ff;
    box-shadow: 0 0 5px #1e1e1e;
    border: 2px solid #fff;
}

.btn:hover{
    transform: scale(1px);
}

.upper-imgs{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.upper-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.upper-imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.upper-imgs img:hover{
    transform: scale(1.05);}

.imgs-first{
    height: 290px;
    width: 400px;
    cursor: pointer;
    overflow: hidden;
}

.imgs{
    height: 290px;
    width: 218px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imgs:hover img{
    transform: scale(1.05);}

.logo{
    height: 80px;
    width: 80px;
    object-fit: contain;
    border: 1px solid #b9b9b9;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover{
    box-shadow: 0 0 15px #00c6ff;
    transform: translateY(-2px);
}

.logo-items{
    margin-top: 20px;
}

.logo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.tray-one{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.tray-two{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.logo-name{
    margin-top: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.mid-section{
    padding: 15px;
}

.mid-section h3{
    font-size: 1.9em;
    margin-left: 17px;
    font-weight: 500;
}

.lower-section{
    background-color: #fff;
    padding: 10px 20px;
    height: 300px;
}

.lower-section h3{
    font-size: 1.2em;
    font-weight: 600;
}

.lower-section h3 span{
    height: 10px;
    width: 15px;
    background-color: rgb(255, 51, 51);
    font-size: 0.65em;
    border-radius: 2px;
    color: #fff;
    padding: 2px 5px;
}

.lower-img-cards{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    padding: 15px;
    height: 200px;
}

.img-card{
    height: 120px;
    width: 400px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    display: flex;
}

.image{
    height: 120px;
    width: 120px;
}

.text-area{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}



.text-area p{
    font-size: 1.4em;
    margin-top: 10px;
}

.right-arrow{
    width: 15px;
    height: 15px;
}

.explore-btn{
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 10px;
    color: #017cff;
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 780px){
    .menu-toggle{
        display: block;
    }

    .main-container{
        width: 100%;
    }

    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        display: none;
    }

    nav ul a{
        margin: 0;
        padding: 15px;
        border-top: 1px solid #333;
    }

    nav ul.active{
        display: flex;
    }
    .upper-imgs{
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .imgs-first{
        width: 35%;
        height: auto;
    }

    .imgs{
        width: 15%;
        height: auto;
    }
}

@media (max-width: 480px){
    .imgs-first{
        width: 100%;
    }

    .imgs{
        width: 48%;
    }

    .upper-imgs{
        flex-wrap: wrap;
    }
}